#enlaces {
    display: flex;
    gap: 50px; /* Ajusta el valor según tu preferencia para separar los enlaces */
    align-items: center;
  }
  
  #enlaces .nav-link {
    margin: 20PX; /* Elimina los márgenes de los enlaces para que estén más juntos */
  }
  
  body {
    background-image: url('img/frutas-mas-vendidas-mundo.jpg'); /* Ruta de la imagen de fondo */
    background-size: cover; /* Hace que la imagen cubra todo el fondo */
    background-position: center; /* Centra la imagen en el fondo */
    background-attachment: fixed; /* Opcional: hace que el fondo sea fijo mientras se desplaza la página */
    background-color: rgba(255, 255, 255, 0.2);
  }
  body::after {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
#fraseinicio {padding:11% 30%;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    animation: salto 2s infinite; /* 2 segundos de duración, animación infinita */
  }
      
  @keyframes salto {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px); /* Controla la altura del salto ajustando el valor */
    }
  }
#texto {background-color: rgb(131, 218, 124);
color: aliceblue;
margin-top: 15%;
}

#textoa{
    text-decoration: none;
}

#quiensoy {
    background-color: rgb(229, 255, 226);
    border-radius: 20px; 
    margin: 10%;
    box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
    
}

#textoquiensoy{
    font-family: 'Quicksand', sans-serif;
    padding: 20%;
    margin: 10% 10% 8%;
    letter-spacing: 2px;
}
#texto2{
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2px;
}

#planes {
  font-family: 'Rowdies', sans-serif;
  font-weight: 700; /* Peso bold (700) */
  font-style: italic; /* Estilo itálico */
  padding-bottom: 3%;
  padding-top: 5%;
}

.card-title {
    color: rgb(131, 218, 124);
}

.card {
  font-size: 14px; /* Tamaño de fuente más pequeño */
  padding: 1rem; /* Espaciado interno de 1 rem (ajusta según tus necesidades) */
  margin: 8px;
  height: 530px;
}

.card img {
  max-width: 100%; /* Hace que las imágenes se ajusten al ancho de la tarjeta */
  height: auto; /* Mantiene la proporción de aspecto */
}

button {
  background-color: rgb(131, 218, 124);
  margin: 3px;
 
}

button:focus {
  outline: 2px solid transparent; 
  outline-offset: 2px; 
 
}